.skills-container {
    padding: 20px;
    background-color: #1F2833;
    color: #C5C6C7;
    border: solid 2px #45A29E;
    
  border-radius: 10px;
    margin: 20px auto;
  }


  .skills-container h1{
    padding: 10px 460px;
  
  }
  